*{
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: rgb(162, 107, 107);
}

.hamsterlot_logo_contenedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.contenedor_principal {
  
}